/* Thanks to https://paulund.co.uk/style-checkboxes-with-css for the css for the checkboxes. */

input[type=checkbox] {
    visibility: hidden;
}

.text {
  font-family: Arial;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.1em;
}

.myCheckbox {
    width: 120px;
    height: 40px;
    background: #333;
    margin: 20px 60px;
    border-radius: 50px;
    position: relative;
    display: inline-block !important;
}
/**
 * Create the text for the On position
 */

.myCheckbox:before {
    content: 'On';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #26ca28;
    font-size: 16px;
    font-family: Arial;
}
/**
 * Create the label for the off position
 */

.myCheckbox:after {
    content: 'Off';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #e50d0d;
    font-size: 16px;
    font-family: Arial;
}

.myCheckbox label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #e50d0d;
}